.falling-text-container {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 150px;
  cursor: pointer;
  text-align: center;
  padding-top: 2em;
}

.falling-text-target {
  display: inline-block;
}

.word {
  display: inline-block;
  margin: 0 2px;
  user-select: none;
}

.highlighted {
  color: #40ffaa;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(64, 255, 170, 0.5);
}

.falling-text-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

