.text-block {
  margin: 0;
  max-width: 100%;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
}

.text-block p {
  margin: 0;
  padding: 0;
}

.char {
  will-change: transform;
  display: inline-block;
  position: relative;
}

